:root {
  --primary: #d81e5b;
  --secondary: #8a4efc;
  --light: #eee;
  --light-alt: #61759b;
  --dark: #131a26;
  --dark-alt: #202b3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: var(--dark-alt);
  color: var(--light);
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

.menu {
  background-color: var(--dark);
  align-items: center;
  display:flex;
  padding: 16px;
  user-select: none;
}

.start-button {
  padding: 8px 16px;
  width: 75px;
  margin: 0px 16px;
  border-radius: 20px;
  background-color: var(--secondary);
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button.running {
  background-color: red;
}

.start-button:hover {
  opacity: 80%;
}

.wrap {
  height: 90%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}

.row {
  display: flex;
}

.cell {
  border-style: solid;
  border-radius: 20%;
  border-color: var(--dark);
  border-width: 2px;
}

.cell.small {
  height: 28px;
  width: 28px;
}

.cell.medium {
  height: 48px;
  width: 48px;
}

.cell.large {
  height: 64px;
  width: 64px;
}

.cell:hover {
  opacity: 80%;
}

@keyframes activate {
  from {background-color: var(--dark-alt);}
  to {background-color: var(--primary);}  

}

.cell.full {
  background-color: var(--primary);
  animation-name: activate;
  animation-duration: 0s;
}

.slider-p {
  text-align: center;
}

.customSlider {
  width: 100px;
  height: 20px;
  margin: 0px 10px;
}

.customSlider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--secondary);
  top: 3px;
}

.customSlider-track {
  height: 4px;
  top: 8px;
  background: var(--light);
}

.customSlider-track.customSlider-track-0 {
  background: var(--light-alt);
}
